.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}
.todos{
  width: 200px;
  margin: 10px;
  border: 1px solid blanchedalmond;
}
.todo {
  width: 200px;
  margin: 10px;
  border: 1px solid blanchedalmond;
}

@media screen and (max-width: 800px) {
  .home-container {
      flex-direction: column;
  }

  .todo {
      width: 100%;
      margin: 0 10px;
  }
}
