.container-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    background-color: #f1e092;
}
.signin-box{
    width: auto;
    height: auto;
}

p{
    font-size: 24px;
    font-weight: 500;
}
button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 12px;
    background-color: #ffffff;
    width: 350px;
}
svg{
    width: 24px;
    height: 24px;
}