.sidenav{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  color: #d5ca64;
  border-right: 1px solid #d5ca64;
}
.logo{
  display: flex;
  font-size: 34px;
  font-weight: 500;
  justify-content: center;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
ul{
  display: flex;
  flex-direction: column;
  font-size: 17px;
  gap:  8px;
}
.nav-link{
  width: 230px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 15px;
  border-radius: 0 50px 50px 0;
  color: #d5ca64;
}
 .nav-link:hover{
  background-color: #d5ca64;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
svg{
  width: 24px;
  height: 24px;
}
svg.circle{
  width:500px;
  height:500px;
}
.sidenav ul li a.nav-link .buton {
  display: flex;
  align-items: center;
}
.sidenav ul li a.nav-link .buton .icon {
  margin-right: 10px;
}